
@{
    ViewBag.Title = "Cancelled";
}



<div class="jumbotron">
    <h2>Cancelled Order</h2>
    <a href="@Url.Action("List","Products")" class="btn btn-primary">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        Continue Shopping
    </a>
</div>

