
@{
    ViewBag.Title = "Success";
    int result = 0;
    int.TryParse(Request.QueryString["OrderId"], out result);
}

<div class="jumbotron">
    <h2>Success</h2>

    <p class="text-muted">Your order number is @result, thank you for your business</p>

    @if (result == 0)
    {
        <p>There has been a problem generating an order number for you we will have still got your order and will send you an email</p>
        <p>Don't worry your package is on it's way to being shipped already</p>
    }

    <a class="btn btn-primary" style="width:200px;" href="@Url.Action("List", "Products")">Finish</a>
</div>


